<form [formGroup] = "formGroup" (ngSubmit)="onSubmit(formGroup)">  
  <!-- เป็นการบอกform นี้ว่า form นี้เป็นของ Angular ไม่ใช่ของ Html -->
 <div>
   <input type="text"
   formControlName = "firstName"
   placeholder="first name">

   <label style="color: tomato;"
   *ngIf=
   "formGroup.get('firstName').invalid &&
   formGroup.get('firstName').touched &&
   formGroup.get('firstName').errors['required']"
   >Required.</label>

   <label style="color: tomato;"
   *ngIf=
   "formGroup.get('firstName').invalid &&
   formGroup.get('firstName').touched &&
   formGroup.get('firstName').errors['minlength']"
   >Min is 3.</label>
  </div>
 <br>
 <div>
    <input type="text"
    formControlName = "lastName"
    placeholder="last name">

    <label style="color: tomato;"
    *ngIf=
    "formGroup.get('lastName').invalid &&
    formGroup.get('lastName').touched &&
    formGroup.get('lastName').errors['required']"
    >Required.</label>
 
    <label style="color: tomato;"
    *ngIf=
    "formGroup.get('lastName').invalid &&
    formGroup.get('lastName').touched &&
    formGroup.get('lastName').errors['minlength']"
    >Min is 3.</label>
  </div>
  <br>
  <div>
      <input type="text"
      formControlName = "Email"
      placeholder="email">

      <label style="color: tomato;"
      *ngIf=
      "formGroup.get('Email').invalid &&
      formGroup.get('Email').touched &&
      formGroup.get('Email').errors['Email']"
      >E-mail is invalid.</label>
    </div>
    <br>
    <div>
        <input type="number"
        formControlName = "Age"
        placeholder="age"
        min="1" 
        max="99">
        <label style="color: tomato;"
        *ngIf=
        "formGroup.get('Age').invalid &&
        formGroup.get('Age').touched &&
        formGroup.get('Age').errors['max']"
        >Between is 0 and 99</label>

        <label style="color: tomato;"
        *ngIf=
        "formGroup.get('Age').invalid &&
        formGroup.get('Age').touched &&
        formGroup.get('Age').errors['min']"
        >Between is 0 and 99</label>
      </div>
      <br>
  <div>
    <button>submit</button>
  </div>